.txt-nroped {
    font-size: 33px;
    display: inline;
}
.icon-size {
    font-size: 27px;
}
ion-button {
    --box-shadow: none;
    margin-left: -10px;
}

.txt-btn {
    font-weight: bold;
    font-size: 18px;
}

.txt-btn-light {
    color: white !important;
    font-weight: bold;
    font-size: 18px;
}

.txt-arts {
    font-size: 24px;
}

.txt-dark-fecha {
    color: black !important;
}

.txt-light-fecha {
    color: black !important;
}
